.blueBorder{
    border:blue solid 10px !important;
    
    
}
.greenBorder{
    border:green solid 10px !important;
    
    
}
.custClass{
    font-weight: bold;
}
.custOtherClass{
    border:purple solid 10px !important;
}
.isActive{
    font-weight: bolder !important;
    border:solid 1px royalblue !important;
}